.form {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 16px;

  .name,
  .age,
  .birthdate,
  .biography {
    display: flex;
    flex-direction: column;
    padding: 0 4px;
  }

  .name-field,
  .age-field,
  .birthdate-field,
  .biography-field {
    box-sizing: border-box;
    color: var(--secondary-text-color);
    background: var(--primary-text-color);
    font-size: 1.2rem;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    outline: none;
  }

  .form-error {
    color: var(--error-color);
    font-weight: 700;
    font-size: 1rem;
  }
}

.submit-form-btn {
  color: var(--secondary-text-color);
  background-color: var(--primary-text-color);
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));

  &:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    filter: brightness(80%);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  }
}
