.form {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 10px;

  .name,
  .age,
  .birthdate,
  .biography {
    color: var(--text-color);
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    outline: none;
  }
}

.submit-form-btn {
  font-size: 16px;
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 6px;

  &:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    filter: brightness(80%);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  }
}