:root {
  --primary-text-color: #fff;
  --secondary-text-color: #181818;
  --error-color: #ffcccc;
  --link-hover-color: #b8dbdb;
  --bg-color: #004949;
  --checkbox-color: #ca87ff;
  background-color: var(--bg-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: calc(100vw- 4rem);
  min-height: calc(100vh - 4rem);
  gap: 20px;
}
